


.container
{
 display: flex;
 text-align: center;
 align-items: center;
 justify-content: center;
  font-family: sans-serif; 
  height: 100vh;
  


}

.main { 
  background-color: rgba(0, 59, 186, 0.8); 
  border-radius: 15px; 
  box-shadow: 0 0 20px rgba(0, 59, 186, 0.8) ; 
  padding: 10px 20px; 
  transition: transform 0.2s; 
  width: 350px;
  margin: 50px  ;


  
} 

h1 { 
  color:white; 
} 

h3 {
color: white;
}

label { 
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: left;
  color: white;
} 




input { 
    display: block; 
    width: 100%; 
    margin-bottom: 15px; 
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px ; 
    border-radius: 5px; 
    font-size: 15px;
    color: black;
}



::placeholder {
    color: black;
    opacity: 1; 
}
  
  ::-ms-input-placeholder { 
    color: white;
  }

input:focus{
  outline: none;
  }



button { 
  padding: 15px; 
  border-radius: 10px; 
  margin-top: 15px; 
  margin-bottom: 15px; 
  border: none; 
  color: white; 
  cursor: pointer; 
  background-color:rgba(0, 59, 186, 0.8); 
  width: 100%; 
  font-size: 16px; 
  font-size: large;
  
} 

button:hover {
  opacity: 0.8;
}

.wrap { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
p{
  color: white;
}





